USE [master]
GO
/****** Object:  Database [4lab_22var]    Script Date: 07.10.2021 0:37:47 ******/
CREATE DATABASE [4lab_22var]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'4lab_22var', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\4lab_22var.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'4lab_22var_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\4lab_22var_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [4lab_22var].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [4lab_22var]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 07.10.2021 0:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[id_visa] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[gender] [nchar](3) NOT NULL,
	[age] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_vouches]    Script Date: 07.10.2021 0:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_vouches](
	[id_client_vouches] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_voucher] [int] NOT NULL,
	[counter] [int] NOT NULL,
 CONSTRAINT [PK_Client_vouches] PRIMARY KEY CLUSTERED 
(
	[id_client_vouches] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tourist_route]    Script Date: 07.10.2021 0:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tourist_route](
	[id_tourist_route] [int] IDENTITY(1,1) NOT NULL,
	[country] [nchar](2) NOT NULL,
	[visa] [nvarchar](20) NOT NULL,
	[is_has_excursions] [bit] NOT NULL,
	[locality] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tourist_route] PRIMARY KEY CLUSTERED 
(
	[id_tourist_route] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visa]    Script Date: 07.10.2021 0:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visa](
	[id_visa] [int] IDENTITY(1,1) NOT NULL,
	[date_issue] [date] NOT NULL,
	[visa_view] [nvarchar](50) NOT NULL,
	[date_expiration] [date] NOT NULL,
 CONSTRAINT [PK_Visa] PRIMARY KEY CLUSTERED 
(
	[id_visa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 07.10.2021 0:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[id_voucher] [int] IDENTITY(1,1) NOT NULL,
	[id_tourist_route] [int] NOT NULL,
	[price] [money] NOT NULL,
	[date_departure] [date] NOT NULL,
	[date_return] [date] NOT NULL,
	[place_stay] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[id_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Visa] FOREIGN KEY([id_visa])
REFERENCES [dbo].[Visa] ([id_visa])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Visa]
GO
ALTER TABLE [dbo].[Client_vouches]  WITH CHECK ADD  CONSTRAINT [FK_Client_vouches_Client] FOREIGN KEY([id_client])
REFERENCES [dbo].[Client] ([id_client])
GO
ALTER TABLE [dbo].[Client_vouches] CHECK CONSTRAINT [FK_Client_vouches_Client]
GO
ALTER TABLE [dbo].[Client_vouches]  WITH CHECK ADD  CONSTRAINT [FK_Client_vouches_Voucher] FOREIGN KEY([id_voucher])
REFERENCES [dbo].[Voucher] ([id_voucher])
GO
ALTER TABLE [dbo].[Client_vouches] CHECK CONSTRAINT [FK_Client_vouches_Voucher]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_Tourist_route] FOREIGN KEY([id_tourist_route])
REFERENCES [dbo].[Tourist_route] ([id_tourist_route])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_Tourist_route]
GO
USE [master]
GO
